* {
  font-family: "Futura Std", sans-serif;
}

.fas {
  cursor: pointer;
}

select {
  display:block;
  min-width: 145px;
}

img.dog {
  margin: 10px;
  max-width: 50%;
}

#breeds  {
  margin-top: 50px;
}
